body {
  background: #0f172a;
  color: white;
  font-family: Arial;
  text-align: center;
  margin-top: 50px;
}

input, button {
  padding: 10px;
  margin: 8px;
  border-radius: 6px;
  border: none;
  width: 250px;
}

button {
  background: #38bdf8;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #0ea5e9;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 8px;
  background: #020617;
  padding: 10px;
  border-radius: 6px;
}
